processed_app_scene_vin_diesel_video_Vin_Diesel.mp4
processed_app_vin_diesel_video_Vin_Diesel.mp4
processed_video_long.mp4
processed_vin_diesel_video_Vin_Diesel.mp4
vid_detect
img_detect
face_recognition_app.postman_collection.json
logfile_app_processed_scene_vin_diesel_video_Vin_Diesel.txt
logfile_app_processed_scene_vin_diesel_video_Vin_Diesel.txt
logfile_processed_vin_diesel_video_Vin_Diesel.txt
vid_recognise.py